.app {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.app-title {
  text-align: center;
}

.app-content {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.app-heading{
  background-color: darkslategrey;
  color: white;
  text-align: center;
}